.Rproj.user
.Rhistory
.RData
.Ruserdata
*.nc
*.sh
Atlantis_shapefile/
climatology_files/
combined_data_files/
data_files/
USstates_shapefile/
files_plotting/
regridded_data_files/
resolution_images/
wgts_files/
landshape_shapefile/
3km_interpolated_files/
overlay_files/
anomaly_files/
final_figures/
interpolated_files/
observational_data/
plotting_models/
roms_forcing/
salinity_anomaly_plots/
SST_anomaly_plots/
final_figures/
repsbasin_shapefile/
epwshiftr/
*.asc
*.png
*.csv
*.jpg
*.shx
*.prj
*.dbf
*.shp
*.sh.status